deviceManufacturer: 'Apple'
deviceModel: 'iPhone6,2'
platform: 'iOS'
platformVersion: '8.1'
application: 'Fulcrum'
applicationVersion: '2.7.0'
applicationBuild: '2162'
recordID: '96eb35f5-13d8-4666-b188-8108019d0984'
recordStatus: 'approved'
recordProject: '88eb3511-13d8-4666-b188-8108019d0984'
recordProjectName: 'Project X'
timeZone: 'America/New_York'
userEmail: 'test@example.com'
userFullName: 'John Smith'
userRoleName: 'Owner'
featureID: '859fdb06-4e7d-4bed-b1d2-af168db71522'
featureIndex: 3
featureIsNew: true
featureGeometry:
  type: 'Point'
  coordinates: [ -82.63814896345139, 27.770756908186286 ]
values:
  form_values:
    '97ab': "Test Record"
    '1337': [
      {
        id: '1'
        form_values: {
          '1338': 1,
          '362a': {
            choice_values: [ 'widget' ],
            other_values: []
          }
          '1347': [
            {
              id: '1a',
              form_values: {
                '1399': 4
              }
            },
            {
              id: '1b',
              form_values: {
                '1399': 5
              }
            }
          ]
        }
      }
      {
        id: '2'
        form_values: {
          '1338': 2,
          '362a': {
            choice_values: [ 'spinner' ],
            other_values: []
          }
          '1347': [
            {
              id: '2a',
              form_values: {
                '1399': 10
              }
            }
          ]
        }
      }
      {
        id: '3'
        form_values: {
          '1338': 3,
          '362a': {
            choice_values: [ 'gizmo' ],
            other_values: []
          }
        }
      }
    ]

form:
  description: 'Test Form'
  elements: [
    {
      data_name: "name"
      default_value: null
      description: 'Enter the name',
      disabled: false
      hidden: false
      key: "97ab"
      label: "Name"
      max_length: null
      min_length: null
      numeric: false
      pattern: null
      pattern_description: null
      required: false
      required_conditions: null
      required_conditions_type: null
      type: "TextField"
      visible_conditions: null
      visible_conditions_type: null
    }
    {
      data_name: "items"
      default_value: null
      description: null
      disabled: false
      elements: [
        {
          data_name: "cost"
          default_value: null
          description: null
          disabled: false
          format: "decimal"
          hidden: false
          key: "1338"
          label: "Cost"
          max: null
          max_length: null
          min: null
          min_length: null
          numeric: true
          required: false
          required_conditions: null
          required_conditions_type: null
          type: "TextField"
          visible_conditions: null
          visible_conditions_type: null
        },
        {
          type: "ChoiceField"
          key: "362a",
          label: "Choice Picker"
          description: null
          required: true,
          disabled: false
          hidden: false
          data_name: "choice_value"
          default_value: null
          visible_conditions_type: null
          visible_conditions: null
          required_conditions_type: null
          required_conditions: null
          multiple: false
          allow_other: false
          default_previous_value: false
          choices: [
            { label: "1", value: "widget" },
            { label: "2", value: "spinner" },
            { label: "4", value: "gizmo" }
          ]
        }
        {
          data_name: "child_items"
          default_value: null
          description: null
          disabled: false
          elements: [
            data_name: "child_item_cost"
            default_value: null
            description: null
            disabled: false
            format: "decimal"
            hidden: false
            key: "1399"
            label: "Child Item Cost"
            max: null
            max_length: null
            min: null
            min_length: null
            numeric: true
            required: false
            required_conditions: null
            required_conditions_type: null
            type: "TextField"
            visible_conditions: null
            visible_conditions_type: null
          ]
          geometry_required: false
          geometry_types: ["Point"]
          hidden: false
          key: "1347"
          label: "Child Items"
          max_length: null
          min_length: null
          required: false
          required_conditions: null
          required_conditions_type: null
          title_field_key: null
          title_field_keys: ["1399"]
          type: "Repeatable"
          visible_conditions: null
          visible_conditions_type: null
        }
      ]
      geometry_required: false
      geometry_types: ["Point"]
      hidden: false
      key: "1337"
      label: "Items"
      max_length: null
      min_length: null
      required: false
      required_conditions: null
      required_conditions_type: null
      title_field_key: null
      title_field_keys: ["1ce4"]
      type: "Repeatable"
      visible_conditions: null
      visible_conditions_type: null
    }
    {
      type: "ChoiceField"
      key: "3620",
      label: "choice field"
      description: null
      required: true,
      disabled: false
      hidden: false
      data_name: "choice_field"
      default_value: null
      visible_conditions_type: null
      visible_conditions: null
      required_conditions_type: null
      required_conditions: null
      multiple: false
      allow_other: false
      default_previous_value: false
      choices: [
        { label: "1", value:"1" },
        {label: "1.5", value: "1.5"},
        { label: "2", value:"2" },
        { label: "4", value:"4" },
        { label: "5", value:"5" },
        { label: "6", value:"6" }
      ]
    }
  ]
  image: null
  name: "Fire Hydrant Inspection Form"
  record_title_key: "97ab"
  status_field:
    choices: [
      {
        label: "Approved"
        value: "approved"
        color: "#FF0000"
      }
    ]
    data_name: "status"
    default_value: ""
    description: ""
    disabled: false
    enabled: false
    hidden: false
    key: "@status"
    label: "Status"
    read_only: false
    required: false
    type: "StatusField"

  title_field_keys: ["97ab"]
